body {
  background: #ffffff;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.x-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &__block {
    display: block;
    padding: 14px 0;
    background: #2b2b2b;
  }
  &__toggle {
    display: none;
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 12px;
        color: #a09f9f;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__spec {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    &>div,
    span {
      border-right: 1px solid #414141;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__search {
    display: inline-block;
    padding: 8px 25px;
    opacity: 0.7;
    cursor: pointer;
    &>img {
      opacity: 0.7;
      transition: all 0.15s ease-out;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      &>img {
        opacity: 1;
      }
    }
  }
  &__basket {
    display: inline-block;
    position: relative;
    padding: 8px 25px;
    cursor: pointer;
    &>img {
      opacity: 0.7;
      transition: all 0.15s ease-out;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      &>img {
        opacity: 1;
      }
    }
    &-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 5px;
      min-width: 20px;
      height: 20px;
      border-radius: 999rem;
      background-color: #e0004d;
      color: #000000;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
    }
  }
}

.x-welcome {
  display: block;
  position: relative;
  .slick-prev {
    display: block;
    width: 17px;
    height: 32px;
    top: auto;
    bottom: 60px;
    left: 70px;
    right: auto;
    background: url('../images/icon_arrow_big_prev.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  .slick-next {
    width: 17px;
    height: 32px;
    top: auto;
    bottom: 60px;
    left: 120px;
    right: auto;
    background: url('../images/icon_arrow_big_next.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  &__block {
    display: block;
    padding: 0;
    background: #2a2a2a;
    .item {
      outline: none;
    }
    .slick-dots {
      bottom: 40px;
      left: 65px;
      text-align: left;
    }
    .slick-dots li {
      margin: 0;
      margin-right: 5px;
    }
    .slick-dots li button:before {
      color: #7e7e7e;
      font-size: 10px;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before {
      color: #e90056;
      opacity: 1;
    }
  }
  &__card {
    display: block;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &-overlay {
      display: block;
      width: 100%;
      height: 100%;
      padding: 100px 70px 160px 70px;
      background-color: rgba(42, 42, 42, 0.65);
    }
    &-row {
      display: block;
      max-height: 158px;
      margin-bottom: 35px;
      overflow: hidden;
    }
    &-title {
      display: inline;
      color: #ffffff;
      font-size: 57px;
      font-weight: 700;
      line-height: 1.4;
      text-transform: uppercase;
    }
    &-discount {
      display: inline;
      margin-left: 25px;
      font-size: 57px;
      font-weight: 700;
      line-height: 1.4;
      text-transform: uppercase;
      color: #00cbe9;
    }
    &-price {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      border-radius: 3px;
      background-color: rgba(43, 43, 43, 0.9);
      color: #ffffff;
    }
    &-old {
      display: inline-block;
      margin-right: 25px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 300;
      text-decoration: line-through;
    }
    &-new {
      display: inline-block;
      color: #ffffff;
      font-size: 29px;
      font-weight: 700;
    }
  }
}

.x-main {
  display: block;
  padding: 75px 0 50px 0;
  background-color: #ffffff;
}

.x-sidenav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  &>li {
    display: block;
    position: relative;
  }
  &>li>a {
    display: block;
    margin-bottom: 2px;
    padding: 12px 5px 12px 15px;
    border-left: 3px solid #f1005e;
    background-color: #fcfcfc;
    color: #060606;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #f1005e;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__droper {
    display: block;
    position: relative;
    &:hover {
      &>a {
        background: #f1005e;
        color: #ffffff;
      }
      .x-sidenav__drop {
        display: block;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 200px;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1px;
    z-index: 9;
    transition: all 0.15s ease-out;
    li {
      display: block;
      a {
        display: block;
        width: 100%;
        max-width: 170px;
        margin-bottom: 1px;
        padding: 12px 5px 12px 15px;
        border-left: 3px solid #f1005e;
        background-color: #f1005e;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          background: #cd0f59;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.x-fresh {
  display: block;
  .item {
    max-width: 300px;
    outline: none;
  }
  .slick-prev {
    width: 34px;
    height: 34px;
    top: -56px;
    bottom: auto;
    left: auto;
    right: 43px;
    background: url('../images/icon_arrow_prev.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  .slick-next {
    width: 34px;
    height: 34px;
    top: -56px;
    bottom: auto;
    left: auto;
    right: 0;
    background: url('../images/icon_arrow_next.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 34px;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 170px;
    height: 210px;
    margin-bottom: 25px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    transition: all 0.15s ease-out;
    &-overlay {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 25px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      transition: all 0.15s ease-out;
    }
    &-price {
      display: block;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      transition: all 0.15s ease-out;
    }
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 34px 18px 15px 18px;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      opacity: 0;
      z-index: 2;
      transition: all 0.15s ease-out;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #f1005e;
        text-decoration: none;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      border: 0;
      outline: 0;
      border-radius: 1px;
      background-color: #f1005e;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      img {
        margin-right: 7px;
        opacity: 0.6;
      }
      span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
      }
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #cd0f59;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &:hover {
      .x-fresh__card-overlay {
        opacity: 0;
      }
      .x-fresh__card-content {
        opacity: 1;
      }
    }
  }
}

.x-best {
  display: block;
  background: url('../images/best_bg.jpg') no-repeat center;
  background-size: cover;
  .slick-prev {
    width: 34px;
    height: 34px;
    top: -46px;
    bottom: auto;
    left: auto;
    right: 43px;
    background: url('../images/icon_arrow_light_prev.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  .slick-next {
    width: 34px;
    height: 34px;
    top: -46px;
    bottom: auto;
    left: auto;
    right: 0;
    background: url('../images/icon_arrow_light_next.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  &__cover {
    display: block;
    padding: 75px 0;
    background: rgba(24, 24, 24, 0.85);
  }
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 260px;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.x-news {
  display: block;
  background: url('../images/news_bg.jpg') no-repeat center;
  background-size: cover;
  .slick-prev {
    width: 34px;
    height: 34px;
    top: -46px;
    bottom: auto;
    left: auto;
    right: 43px;
    background: url('../images/icon_arrow_light_prev.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  .slick-next {
    width: 34px;
    height: 34px;
    top: -46px;
    bottom: auto;
    left: auto;
    right: 0;
    background: url('../images/icon_arrow_light_next.png') no-repeat center;
    background-size: contain;
    opacity: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 2;
  }
  &__cover {
    display: block;
    padding: 75px 0;
    background: rgba(24, 24, 24, 0.85);
  }
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    &-date {
      display: block;
      margin-bottom: 8px;
      opacity: 0.58;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
    }
    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.x-special {
  display: block;
  padding: 75px 0 50px 0;
  &__title {
    display: block;
    margin-bottom: 26px;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 170px;
    height: 210px;
    margin-bottom: 25px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    transition: all 0.15s ease-out;
    &-overlay {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 25px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      transition: all 0.15s ease-out;
    }
    &-price {
      display: block;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      transition: all 0.15s ease-out;
    }
    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 34px 18px 15px 18px;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      opacity: 0;
      z-index: 2;
      transition: all 0.15s ease-out;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #f1005e;
        text-decoration: none;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      border: 0;
      outline: 0;
      border-radius: 1px;
      background-color: #f1005e;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      img {
        margin-right: 7px;
        opacity: 0.6;
      }
      span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
      }
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #cd0f59;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &:hover {
      .x-special__card-overlay {
        opacity: 0;
      }
      .x-special__card-content {
        opacity: 1;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 0 16px 0;
  color: #000000;
  font-weight: 700;
}

.x-seo {
  display: block;
  padding: 70px 0 50px 0;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
  }
  p {
    display: block;
    margin-bottom: 26px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin-bottom: 12px;
      padding-left: 25px;
      background: url('../images/icon_li.png') no-repeat left 8px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.x-pay {
  display: block;
  width: 100%;
  border-bottom: 1px solid #525252;
  background-color: #2b2a2c;
  &__row {
    display: block;
    width: 100%;
    height: 120px;
    background: url('../images/how_pay.png') no-repeat center;
    background-size: contain;
  }
}

.x-footer {
  display: block;
  width: 100%;
  padding: 45px 0 25px 0;
  background-color: #2b2a2c;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__about {
    display: inline-block;
    width: 100%;
    max-width: 260px;
    p {
      display: block;
      margin: 16px 0 0 0;
      opacity: 0.33;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &__logo {
    display: block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 350px;
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 12px;
      a {
        display: inline;
        border-bottom: 1px solid #ffffff;
        opacity: 0.33;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
}

.x-copyrights {
  display: block;
  padding: 12px 0;
  background-color: #202021;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 400;
  }
  p {
    display: inline-block;
    margin: 0;
  }
  a {
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.x-prep {
  display: block;
  padding: 45px 0;
  border-top: 1px solid #525252;
  background-color: #2b2b2b;
  &__title {
    display: block;
    margin: 0;
    color: #ee005b;
    font-size: 36px;
    font-weight: 700;
  }
}

.x-page {
  display: block;
  padding: 35px 0 80px 0;
  background: #f7f7f7;
}

.x-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
  li {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    a {
      display: inline-block;
      color: #000000;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #f1005e;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 15px;
      color: #f1005e;
    }
  }
}

.x-item {
  &__image {
    display: block;
    width: 100%;
    max-width: 370px;
    height: 460px;
    object-fit: cover;
    object-position: center;
  }
  &__info {
    display: block;
    min-height: 308px;
    padding: 50px 45px 30px 45px;
    background-color: #ffffff;
  }
  &__li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    img {
      display: inline-block;
      margin-right: 15px;
      ;
    }
    p,
    span {
      display: inline-block;
      margin: 0;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__price {
    display: inline-block;
    flex: 1;
    padding: 37px 50px;
    background-color: #e9e9e9;
  }
  &__old {
    display: block;
    margin-bottom: 4px;
    opacity: 0.57;
    color: #010101;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-decoration: line-through;
    text-transform: uppercase;
  }
  &__new {
    display: block;
    margin: 0;
    color: #010101;
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  &__discount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    padding: 50px 10px;
    background-color: #2b2b2b;
    color: #e50258;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
  &__buy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    padding: 50px 10px;
    border: 0;
    outline: none;
    background-color: #f1005e;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(1.1);
      text-decoration: none;
    }
  }
}

.x-switch {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 75px 0 0 0;
  padding: 0 70px;
  border-bottom: 1px solid #f7f7f7;
  background: #ffffff;
  list-style: none;
  li {
    margin-bottom: -1px;
    margin-right: 60px;
    border-bottom: 1px solid transparent;
    a {
      display: inline-block;
      padding: 32px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
  }
  &_current {
    border-bottom: 1px solid #f1005e !important;
  }
}

.x-tab {
  display: none;
  padding: 50px 70px 20px 70px;
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  p {
    display: block;
    margin-bottom: 30px;
  }
}

#tab-1 {
  display: block;
}

.x-reviews {
  display: block;
  margin-top: 75px;
  padding: 60px 70px 50px 70px;
  background-color: #ffffff;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
  }
  &__card {
    display: block;
    margin-bottom: 30px;
    &-text {
      display: block;
      margin: 0;
      padding: 10px 20px;
      border-left: 10px solid #c6c6c6;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
    &-date {
      display: block;
      margin-bottom: 15px;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.x-help {
  display: block;
  padding: 45px 70px 65px 70px;
  background-color: #ffffff;
  &__welcome {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    font-weight: 300;
  }
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
  }
  &__form {
    display: block;
    position: relative;
    input {
      display: block;
      width: 100%;
      padding: 34px 80px 34px 40px;
      border: 0;
      outline: none;
      border-radius: 2px;
      background-color: #2b2b2b;
      color: #b3b3b3;
      font-size: 18px;
      font-weight: 300;
    }
    button {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 37px;
      border: 0;
      outline: none;
      background: transparent;
      cursor: pointer;
      opacity: 0.6;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.x-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 65px 0 55px 0;
  &__card {
    display: inline-flex;
    align-items: stretch;
    width: 100%;
    max-width: 270px;
    box-shadow: 0 13px 21px rgba(196, 196, 196, 0.44);
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      color: #000000;
      text-decoration: none;
    }
    img {
      display: inline-block;
      width: 92px;
      height: 92px;
      object-fit: contain;
      object-position: center;
    }
    p {
      margin: 0;
    }
    &-content {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      padding: 30px 10px 30px 30px;
      color: #000000;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.x-questions {
  display: block;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
  }
}

.x-collapse {
  display: block;
  position: relative;
  margin-bottom: 3px;
  background-color: #ffffff;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    p,
    span {
      display: inline-block;
      margin: 0;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #e1045b;
      text-decoration: none;
    }
  }
  &__arrow {
    display: inline-block;
    margin-left: 5px;
    transition: all 0.4s ease-out;
    &_rotated {
      transform: rotate(180deg) !important;
    }
  }
  &__content {
    display: none;
    padding: 0 35px 35px 35px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    p {
      max-width: 930px;
      margin: 0;
    }
  }
}

.x-support {
  display: block;
  padding: 65px 0;
  border-bottom: 1px solid #525252;
  background-color: #2b2a2c;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__prep {
    display: block;
    margin-bottom: 2px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 300;
    font-weight: 300;
  }
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 39px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    padding: 18px 42px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    background-color: #ef005c;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #cd0f59;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.x-cart {
  display: block;
  box-shadow: 0 14px 27px rgba(82, 82, 82, 0.22);
  background-color: #ffffff;
  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    p,
    span {
      margin: 0;
    }
    &-number {
      display: inline-block;
      min-width: 26px;
      margin-right: 20px;
      padding: 6px 4px;
      background-color: #2b2b2b;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
    }
  }
}

.x-cart__main {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  border-bottom: 2px solid #d6d6d6;
  &-title {
    display: block;
    margin-bottom: 6px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-price {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
  }
  &-info {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
  }
  &-image {
    display: inline-block;
    width: 165px;
    height: 165px;
    object-fit: cover;
    object-position: center;
  }
  &-content {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 6px 6px 6px 26px;
    background-color: #ffffff;
  }
}

.x-cart__form {
  display: block;
  padding: 33px 30px 32px 30px;
  background-color: #ffffff;
  border-bottom: 2px solid #d6d6d6;
  input {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    padding: 16px 25px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    background-color: #efefef;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
  }
  button {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 16px 24px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    background-color: #ee005b;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #cd0f59;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.x-cart__bottom {
  display: block;
  padding: 32px 12px;
  text-align: center;
  p {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    a {
      color: #ee005b;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.custom-control {
  padding-left: 35px;
}

.custom-control-description {
  opacity: 0.68;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

.custom-control-indicator {
  width: 25px;
  height: 25px;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: #cd0f59;
}

.x-check {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  input[type='radio'] {
    display: none !important;
    &:checked+label {
      position: relative;
      box-shadow: 0 14px 27px rgba(82, 82, 82, 0.29);
      z-index: 2;
    }
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 165px;
    height: 167px;
    margin: 0 2px 2px 0;
    padding: 4px;
    box-shadow: 0 14px 27px rgba(82, 82, 82, 0.22);
    background-color: #ffffff;
    z-index: 0;
    &_long {
      flex-flow: row wrap;
      min-width: 666px;
      height: 110px;
      .x-check__card-image {
        display: inline-flex;
        width: 70px;
        height: 70px;
        margin: 0 30px 0 0;
      }
      .x-check__card-title {
        color: #000000;
        font-size: 24px;
        font-weight: 400;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      margin-bottom: 2px;
      img {
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      margin-bottom: 4px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    &-info {
      display: block;
      margin: 0;
      opacity: 0.73;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.x-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0 10px 0;
  img {
    display: block;
    animation: rotating 1.5s linear infinite;
  }
}

.x-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
  input[type='radio'] {
    display: none !important;
    &:checked+label {
      position: relative;
      background-color: #2b2b2b;
      color: #ee005b;
    }
  }
  &__card {
    display: inline-block;
    margin-right: 8px;
    padding: 12px 22px;
    border: 1px solid #2b2b2b;
    background-color: transparent;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    p,
    span {
      margin: 0;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in-out;
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 999;
  input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
    background: #ee005b;
    color: #fff;
  }
  .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background: #ee005b;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
  }
  &.open {
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }
}