@media (max-width: 1399px) {}

@media (max-width: 1199px) {
  .x-header {
    justify-content: space-around;
  }
  .x-header__nav {
    display: none;
    width: 100%;
    padding: 12px 0;
    li {
      display: block;
      width: 100%;
      a {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
  .x-header__toggle {
    display: inline-block;
    margin-left: 10px;
    margin-top: -5px;
  }
  .x-welcome__card-overlay {
    padding: 20px 15px 80px 15px;
  }
  .x-welcome__card-title {
    font-size: 30px;
  }
  .x-welcome__card-discount {
    font-size: 30px;
  }
  .x-welcome__card-row {
    max-height: 210px;
    margin-bottom: 15px;
  }
  .x-welcome__card-price {
    padding: 16px 12px;
  }
  .x-welcome .slick-prev {
    left: 15px;
    bottom: 35px;
  }
  .x-welcome .slick-next {
    left: 60px;
    bottom: 35px;
  }
  .x-welcome__block .slick-dots {
    left: 10px;
    bottom: 15px;
  }
  .x-welcome__card {
    height: 415px;
  }
  .x-main {
    padding: 20px 0;
  }
  .x-sidenav__droper:hover .x-sidenav__drop {
    display: none;
  }
  .x-sidenav {
    margin-bottom: 20px;
  }
  .x-fresh__title {
    font-size: 28px;
  }
  .x-fresh__card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .x-best__title {
    font-size: 24px;
  }
  .x-best__cover {
    padding: 20px 0;
  }
  .x-best__card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .x-special {
    padding: 20px 0;
  }
  .x-special__cards {
    justify-content: space-around;
  }
  .x-special__card {
    margin: 0 5px 15px 5px;
  }
  .x-news__cover {
    padding: 20px 0;
  }
  .x-news__card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .x-seo {
    padding: 20px 0;
  }
  .x-seo__title {
    margin-bottom: 20px;
  }
  .x-pay {
    display: none;
  }
  .x-footer {
    padding-top: 25px;
  }
  .x-footer__nav {
    margin-top: 25px;
  }
  .x-copyrights>.container {
    justify-content: space-around;
  }
  .x-prep {
    padding: 30px 0;
  }
  .x-prep__title {
    font-size: 32px;
    text-align: center;
  }
  .x-page {
    padding: 30px 0;
  }
  .x-item__image {
    max-width: 300px;
    height: 350px;
    margin: 0 auto;
  }
  .x-item__info {
    min-height: auto;
    padding: 25px 15px 5px 15px;
  }
  .x-item__new {
    font-size: 28px;
  }
  .x-item__price {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex: 3;
  }
  .x-item__discount {
    width: 100px;
    padding: 20px 10px;
    font-size: 28px;
    flex: 1;
  }
  .x-item__buy {
    width: 100px;
    padding: 20px 10px;
    font-size: 28px;
    flex: 1;
  }
  .x-switch {
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 0;
    li {
      margin: 0;
      a {
        padding: 12px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .x-tab {
    padding: 20px 20px 10px 20px;
  }
  .x-reviews {
    margin-top: 30px;
    padding: 20px 20px 10px 20px;
  }
  .x-help {
    padding: 20px 15px;
  }
  .x-help__title {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
  }
  .x-help__welcome {
    margin-bottom: 4px;
    text-align: center;
  }
  .x-help__form input {
    padding: 24px 70px 24px 12px;
  }
  .x-help__form button {
    padding: 27px;
  }
  .x-categories {
    justify-content: space-around;
    padding: 20px 0;
  }
  .x-categories__card {
    margin-bottom: 4px;
  }
  .x-questions__title {
    margin-bottom: 20px;
    text-align: center;
  }
  .x-collapse__arrow {
    display: none;
  }
  .x-support {
    padding: 20px 0;
    text-align: center;
    &>.container {
      justify-content: space-around;
    }
  }
  .x-support__button {
    margin-top: 20px;
  }
  .x-collapse__content {
    line-height: 1.4;
  }
  .x-check {
    justify-content: center;
    margin-bottom: 30px;
  }
  .x-check__card_long {
    max-width: 332px;
    min-width: auto;
    height: auto;
    padding: 18px;
  }
  .x-check__card_long .x-check__card-title {
    font-size: 20px;
  }
  .x-check__card_long .x-check__card-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .x-cart__main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px 5px 5px 5px;
  }
  .x-cart__main-content {
    padding: 5px;
    align-items: center;
    text-align: center;
  }
  .x-cart__form {
    padding: 20px 15px;
  }
  .custom-control-description {
    font-size: 12px;
  }
  .x-sidenav__drop {
    position: relative;
    left: 0;
    width: 100%;
    max-width: 100%;
    li {
      width: 100%;
      a {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}